body {
    background-color: rgb(250, 250, 250);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(./image/back.jpg);

}

.image {
    background-image: url('./image/c19h.gif');
    height: 180px;
    width: 560px;
    image-resolution: 400px;
    
     
    
}
@media (max-width: 770px) {
    .container{
        margin: 0 10%;
        
    }
    
}
